body {

    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 {

    font-size: 60px;
}

h2 {

    font-size: 40px;

}

.orange-font {

    color: orange;
}

.flexible-section {

    display: flex;

    margin-bottom: 100px;
}

.half-width {

    width: 50%;



}

p {

    margin-bottom: 100px;
}

.link-order {

    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 50px;
    border-radius: 30px;

}



.margin-top {

    margin-top: 200px;

}

.margin-right {

    margin-right: 250px;

}

.margin-left {

    margin-left: 170px;
}

.margin-top p {

    color: gray;
    font-size: large;
}

.about-banner {

    background-image: url(images/shapes/Frame\ 57.jpg);
    background-size: 100%;
    background-repeat: no-repeat;



}

.about-banner img {

    margin-left: 200px;
    margin-top: 80px;

    height: 87%;
    width: 45%;

}

.txt-align {

    text-align: center;
}

.txt-align p {

    color: gray;
    font-size: 20px;
}

.recipe-item {

    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 50px;


}

.recipe-item img {

    margin-left: -70px;
    margin-top: 60px;
}

.recipe-item h2 {

    margin-left: -70px;

}

.recipe-item p {

    margin-left: -70px;
    margin-right: 120px;
}

.followers {

    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 50px;

}

.seperating-followers {

    margin-left: 220px;
    margin-top: 50px;


}